.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #0d00ff;
  text-decoration: none;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
  font-style: italic;
}

.sg-colors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
}

.section {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.section.border-top {
  border-top: 1px solid #e2e4eb;
}

.text-left {
  text-align: left;
}

.button-icon {
  height: 24px;
  margin-right: 10px;
  margin-left: -2px;
  float: left;
}

.button-icon.small {
  height: 20px;
}

.sg-color-block {
  width: 25%;
  padding: 15px;
}

.sg-button-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-bottom: 80px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.intro.left {
  width: 100%;
  max-width: none;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-radius: 5px;
  background-color: #21242d;
  background-image: none;
  -webkit-transition: background-color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, box-shadow 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #3270ff;
}

.button.color-5 {
  background-color: #bcd028;
}

.button.color-5:hover {
  background-color: #a5b81e;
}

.button.color-2 {
  background-color: #ff3071;
}

.button.color-2:hover {
  background-color: #db2b62;
}

.button.ghost-bg {
  background-color: transparent;
  background-image: none;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.4);
  color: #fff;
}

.button.ghost-bg:hover {
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.7);
}

.button.color-3 {
  background-color: #ff7136;
}

.button.color-3:hover {
  background-color: #e4612b;
}

.button.white {
  background-color: #fff;
  background-image: none;
  box-shadow: none;
  color: #2c3340;
}

.button.white:hover {
  background-color: #e2e4eb;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
}

.button.color-4 {
  background-color: #ffae2e;
}

.button.color-4:hover {
  background-color: #e59a23;
}

.button.ghost {
  background-color: transparent;
  background-image: none;
  box-shadow: inset 0 0 0 1px #d3d8e1;
  color: #2c3340;
}

.button.ghost:hover {
  box-shadow: inset 0 0 0 1px #8e94a2;
}

.button.color-6 {
  background-color: #00c87a;
}

.button.color-6:hover {
  background-color: #00a867;
}

.button.color-1 {
  background-color: #3270ff;
}

.button.color-1:hover {
  background-color: #2c60d8;
}

.button.small {
  height: 40px;
  padding-right: 18px;
  padding-left: 18px;
  font-size: 11px;
  line-height: 16px;
}

.paragraph-small {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 20px;
}

.sg-back-link {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.2);
  -webkit-transition: background-color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, box-shadow 200ms ease;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.sg-back-link:hover {
  border-top-color: #2583fd;
  background-color: #41bcec;
  box-shadow: inset 0 1px 0 0 transparent;
}

.sg-color-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 144px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  border-radius: 5px;
  background-color: #21242d;
  box-shadow: none;
}

.sg-color-card.color-6 {
  background-color: #00c87a;
}

.sg-color-card.grey-2 {
  background-color: #8e94a2;
}

.sg-color-card.grey-3 {
  background-color: #c0c4cd;
}

.sg-color-card.haze {
  background-color: #f4f5f8;
}

.sg-color-card.color-5 {
  background-color: #bcd028;
}

.sg-color-card.color-1 {
  background-color: #3270ff;
}

.sg-color-card.grey-1 {
  background-color: #4d5464;
}

.sg-color-card.color-3 {
  background-color: #ff7136;
}

.sg-color-card.color-2 {
  background-color: #ff3071;
}

.sg-color-card.grey-4 {
  background-color: #e2e4eb;
}

.sg-color-card.color-4 {
  background-color: #ffae2e;
}

.no-margin {
  margin: 0px;
}

.sg-button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 60px 27%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
  background-color: #f4f5f8;
  text-align: center;
}

.sg-button-wrapper.dark-bg {
  background-color: #21242d;
  color: #e1e6ee;
}

.sg-sidebar-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
}

.paragraph-big {
  font-size: 16px;
  line-height: 28px;
}

.sg-sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 270px;
  padding-top: 32px;
  padding-bottom: 104px;
  background-color: #21242d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#654c9e), to(#f27972));
  background-image: linear-gradient(180deg, #654c9e, #f27972);
  color: #fff;
}

.sg-sidebar-link {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 14px 16px;
  border-radius: 5px;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
}

.sg-sidebar-link:hover {
  background-color: hsla(0, 0%, 100%, 0.12);
}

.sg-sidebar-link.w--current {
  background-color: #41bcec;
}

.sg-color-name {
  position: absolute;
  height: 24px;
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(33, 36, 45, 0.15);
  font-family: 'Open Sans', sans-serif;
  color: #21242d;
  font-size: 8px;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.first-letter {
  margin-top: 4px;
  margin-right: 8px;
  float: left;
  font-family: Montserrat, sans-serif;
  font-size: 52px;
  line-height: 40px;
  font-weight: 600;
}

.style-block {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left;
}

.sg-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.page-wrapper {
  overflow: visible;
}

.page-wrapper.sg-wrapper {
  margin-left: 270px;
}

.wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.sg-sidebar-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .section {
    padding: 80px 8px;
  }
  .sg-color-block {
    width: 33.33%;
    padding: 8px;
  }
  .sg-button-block {
    width: 50%;
    padding: 8px;
  }
  .intro {
    margin-bottom: 64px;
    padding-right: 8px;
    padding-left: 8px;
  }
  .sg-back-link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .no-margin {
    margin: 0px;
  }
  .sg-button-wrapper {
    padding: 40px 20%;
  }
  .sg-sidebar-menu {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .sg-sidebar {
    position: relative;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 64px;
  }
  .sg-sidebar-link {
    width: auto;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .style-block {
    text-align: left;
  }
  .sg-buttons {
    padding-bottom: 80px;
  }
  .page-wrapper.sg-wrapper {
    margin-left: 0px;
  }
  .sg-sidebar-heading {
    margin-bottom: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .intro {
    margin-bottom: 48px;
  }
  .sg-color-card {
    height: 120px;
  }
  .no-margin {
    margin: 0px;
  }
  .sg-button-wrapper {
    padding: 32px 16%;
  }
  .paragraph-big {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .sg-color-block {
    width: 100%;
  }
  .sg-button-block {
    width: 100%;
  }
  .no-margin {
    margin: 0px;
  }
}